.panel {
	width: 1170px;
	margin: 40px auto !important;
	.panel-elem {
		padding: 0 20px;
		select {
			border: 1px solid #706f6f;
			width: 100%;
			padding: 3px 5px;
			border-radius: 5px;
			margin: 5px 0;
		}
		input {
			margin: 5px 0;
			border: 1px solid #706f6f;
			width: 100%;
			padding: 3px 5px;
			border-radius: 5px;
		}
	}
}

@media screen and (max-width: 1199px) {
	.panel {
		width: 740px;
	}
}

@media screen and (max-width: 767px) {
	.panel {
		width: 500px;
	}
}

@media screen and (max-width: 575px) {
	.panel {
		width: 310px;
	}
}

